<% messages.each do |message| %>
  <% if message.user_id == current_user.id %>
    <div class="chat-message-container mt-3">
      <div class="row no-gutters justify-content-md-end">
        <div class="col col-lg-9">
          <div class="alert alert-dark text-left justify-content-center">
            <p class="mb-1">
              <%= message.messages %>
            </p>

            <div class="text-right">
              <small>
                <%= message.created_at %>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="chat-message-container mt-3">
      <div class="row no-gutters">
        <div class="col-auto">
          <%= image_tag user_avatar(message.user), class: "post-author-icon" %>
        </div>
        <div class="col-9">
          <div class="alert alert-info text-left justify-content-center">
            <p class="mb-1">
              <%= message.messages %>
            </p>

            <div class="text-right">
              <small>
                <%= message.created_at %>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

